*{
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(7, 22, 44);
  color: whitesmoke;
}

.buttoncontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 500px;
}

.button{
  width: 50px;
  height: 30px;
  background-color: beige;
  color: rgb(7, 22, 44);
  margin: 5px 0px 5px 10px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 13px;
}
